.git
.gitignore
.gitattributes
.github
.venv
venv
__pycache__
*.pyc
*.pyo
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
.env
storage
*.sqlite*
*.db
*.log
*.log.*
docs
tests
.idea
.vscode
.DS_Store
